<div class="edit">
  <h2>Edit movie: {{movie.title}}</h2>
  <form action="/movies/{{movie.id}}/edit" method="post">
    <label>
      Title:
      <input type="text" name="title" value="{{movie.title}}" />
    </label>
    <br>
    <label>
      Genre:
      <input type="text" name="genre" value="{{movie.genre}}" />
    </label>
    <br>
    <label>
      Plot:
      <input type="text" name="plot" value="{{movie.plot}}" />
    </label>
    <br>
    <button class="save-button">Save changes</button>
  </form>
  <div class="homepage-buttons">
    <a href="/movies">Back to all movies</a>
  </div>
</div>
